.logo {
  height: 75px;
}

.flash {
  &.SEVERE { color: red; }

  &.INFO { color: green; }

  &.WARNING { color: orange; }
}

.bottom {
  li {
    font-size: 80%;
    font-family: monospace;
  }
}

textarea {
  font-family: monospace;
}

pre {
  white-space: pre-wrap;
}

.event {
  margin-top: 6em;
  margin-bottom: 2em;
  &:first-child {
    margin-top: 2em;
  }
}

article a:visited {
  color: coral;
}
