.logo {
  height: 75px;
}

.flash {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
}

.flash-SEVERE {
  background-color: darkred;
}

.flash-INFO {
  background-color: darkgreen;
}

.flash-WARNING {
  background-color: darkorange;
}

.bottom {
  li {
    font-size: 80%;
    font-family: monospace;
  }
}

textarea {
  font-family: monospace;
}

pre {
  white-space: pre-wrap;
}

.event {
  margin-top: 6em;
  margin-bottom: 2em;
  &:first-child {
    margin-top: 2em;
  }
}

article a:visited {
  color: coral;
}
