.logo {
  height: 75px;
}

.flash {
  &.SEVERE { color: red; }

  &.INFO { color: green; }

  &.WARNING { color: orange; }
}

.bottom {
  li {
    font-size: 80%;
    font-family: monospace;
  }
}

textarea {
  font-family: monospace;
}
