<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
        <link rel="shortcut icon" href="/images/logo.png"/>
        <link rel="stylesheet" href="http://yegor256.github.io/tacit/tacit.min.css"/>
        <title>${version}: error</title>
    </head>
    <body>
        <section>
            <header>
                <nav>
                    <ul>
                        <li>
                            <img src="/images/logo.svg" style="width:150px;"/>
                        </li>
                    </ul>
                </nav>
            </header>
            <article>
                <p>
                    We're sorry, but there is an internal problem
                    on our side. Please, copy and paste this exception to our
                    <a href="https://github.com/yegor256/wring/issues">GitHub issue tracker</a>.
                    We will try to fix this ASAP.
                </p>
                <pre style="white-space:pre">${err}</pre>
            </article>
            <footer>
                <nav>
                    <ul>
                        <li>${version}</li>
                        <li>${revision}</li>
                    </ul>
                </nav>
            </footer>
        </section>
    </body>
</html>
